**/saved_models/
**/logs/
./src/text-classification/saved_models/tf_model.h5
./data/dstc8-schema-guided-dialogue/train/dialogues_083.json
./data/dstc8-schema-guided-dialogue/train/dialogues_073.json
./data/dstc8-schema-guided-dialogue/train/dialogues_082.json
./data/dstc8-schema-guided-dialogue/train/dialogues_072.json
./data/dstc8-schema-guided-dialogue/train/dialogues_081.json
./data/dstc8-schema-guided-dialogue/train/dialogues_084.json
./data/dstc8-schema-guided-dialogue/train/dialogues_074.json
./data/dstc8-schema-guided-dialogue/train/dialogues_080.json
./data/dstc8-schema-guided-dialogue/test/dialogues_029.json
./data/dstc8-schema-guided-dialogue/test/dialogues_026.json
./data/dstc8-schema-guided-dialogue/test/dialogues_022.json
./data/reddit/TakeaPlantLeaveaPlant_comments.zst
./data/reddit/plants_submissions.zst
./data/reddit/plantclinic_submissions.zst
./data/reddit/TakeaPlantLeaveaPlant_submissions.zst
./data/reddit/plantclinic_comments.l10000
./data/reddit/houseplants_comments.zst
./data/reddit/plants_submissions
./data/reddit/plantclinic_submissions.l1000000
./data/reddit/takecareofmyplant_submissions
./data/reddit/plants_comments.zst
./data/reddit/houseplants_submissions.zst
./data/reddit/plantclinic_submissions
./data/reddit/plantclinic_comments.l100000
./data/reddit/plantclinic_comments
./data/reddit/IndoorGarden_submissions.zst
./data/reddit/plantclinic_submissions.l10000
./data/reddit/IndoorGarden_comments.zst
./data/reddit/PlantIdentification_submissions.zst
./data/reddit/PlantIdentification_comments.zst
./data/reddit/plantclinic_submissions.l100000
./data/reddit/plants_comments
./data/reddit/IndoorGarden_comments
./data/reddit/PlantIdentification_submissions
./data/reddit/houseplants_comments
./data/reddit/PlantIdentification_comments
./data/reddit/plantclinic_comments.l1000000
./data/reddit/IndoorGarden_submissions
./data/reddit/takecareofmyplant_comments
./data/reddit/plantclinic_comments.zst
./data/reddit/houseplants_submissions
./.git/objects/25/9347bccad2514395f0804fe0aeaba53b123df1
./.git/objects/pack/tmp_pack_6MO1k5
./.git/modules/data/dstc8-schema-guided-dialogue/objects/pack/pack-abc2631c5caf88a8e6eb2fdbc2961ca7427977c3.pack
